* {
    padding: 0;
    margin:0;

}

body {
    height: 100vh;
    padding-left:90px;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h2 {
    margin: 30px  0px;
    font-family:arial;
}

.form {
    width: 25%;
    
}

.form input {
   
    border:1px solid 138496;
    width: 500px;
    color:white;
    font-size:20px;
}